/* Estilos */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, :root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #05060e;
}

header {
  margin-top: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid #334155;
}

header h1 {
  margin-top: 15px;
  font-size: 30px;
  color: #f1f5f9;
  text-shadow: 2px 2px 2px #5320b3
}

#quiz {
  counter-reset: quiz-item;
}

.quiz-item {
  margin-top: 24px;
  border: 1px solid #475564;
  border-radius: 6px;
  overflow: hidden;
}

.quiz-item h3 {
  padding: 16px 20px;
  color: #e2e8f0;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #5320b3;
  border-bottom:  5px solid #05060e;
  text-shadow: 2px 2px 2px black
}

.quiz-item h3:before {
  counter-increment: quiz-item;
  content: counter(quiz-item);
  background-color: #334155;
  font-size: 15px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item dl {
  padding: 20px 24px;
  display: grid;
  gap: 7px;
  background-color: #151a4783;
}

.quiz-item dl dt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0152bb;
}

input {
  all: unset;
  border: 1px solid #e8eaec;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input:checked {
  border: 1px solid #e2df07;
}

input:checked:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
}

main {
  padding: 20px;
  max-width: 640px;
  margin: 0 auto 64px;
}

#acertos {
  text-align: center;
  background-color:#5320b3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
}

strong {
  color: #e2e8f0;
}

div span {
  color: #e2e8f0;
}